* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

#top {
    width: 100%;
    height: 40rem;
    text-align: center;
    margin-top: 2rem;
}

img {
    width: 50%;
    height: 100%;
}
h1 {
    font-size: 5rem;
    color: sandybrown;
}
body {
    background-color: blanchedalmond;
}

#container {
    width: 100%;
    height: 80rem;
    background-color: white;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.formulaire {
    width: 40%;
    height: 80%;
    border-radius: 10px 10px 10px 10px;
}

#professionnel {
    background: linear-gradient(rgba(8,31,89,0.4), rgba(54,125,255,0.4));
    text-align: center;
}
#particulier {
    background: linear-gradient(rgba(17,89,15,0.4), rgba(0,255,12,0.4));
    text-align: center;
    text-shadow: 4px 2px 4px rgba(0,0,0,0.7);
}
span {
    font-size: 4rem;
    color: blanchedalmond;
    text-shadow: 4px 2px 4px rgba(0,0,0,0.7);
}

.form {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 2rem;
}
form {
    font-size: 3.5rem;
    padding-top: 30%;

}

#mail, #phone, #mailpro, #phonepro {
    width: 80%;
}

input {
    border-radius: 27px 27px 27px 27px;
    border-color: grey;
    padding-left: 1rem;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.3);
}